body {
    background-color: #00112c;
    font-family: 'Mukta', sans-serif;
    color: #E7F6F2;
    text-align: center;
}

b, .marte {
    color: #f05d21;
}

.jupiter {
color: #fdb94e;
}

.astronaut {
    width: 20%;
}
